<section>
    <p class="header">Panel Admin</p>
    <app-spinner *ngIf="isLoading"></app-spinner>
    <div *ngIf="!isLoading" class="main-container">
        <div class="menu-section">
            <div class="card" [routerLink]="['./events']" routerLinkActive="active-card">
                <div>
                    <mat-icon>event</mat-icon>
                </div>
                <p>Event</p>
            </div>
            <div class="card" [routerLink]="['./uang-kas']" routerLinkActive="active-card" >
                <div>
                    <mat-icon class="material-icons-round">money</mat-icon>
                </div>
                <p>Uang Kas</p>
            </div>
            <div class="card" [routerLink]="['./announcements']" routerLinkActive="active-card">
                <div>
                    <mat-icon>article</mat-icon>
                </div>
                <p>News</p>
            </div>
            <div class="card" [routerLink]="['./roles']" routerLinkActive="active-card">
                <div>
                    <mat-icon>groups</mat-icon>
                </div>
                <p>Roles</p>
            </div>
        </div>
        <div class="content-section">
            <router-outlet></router-outlet>
        </div>
    </div>
</section>