@import "../../../library";

section {
  .back-arrow-container {
      height: 40px;
      width: 40px;
      border-radius: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  #navigation-arrow {
    color: $purple-grey;
    font-size: 24px;
    vertical-align: bottom;
  }

  .main-content {
    display: flex;
    flex-direction: row;

    #setting-icon {
      position: absolute;
      top: 10%;
      right: 3%;
    }

    .left-side {
      flex: 3;

      .event-detail {
        display: flex;
        flex-direction: row;

        .card {
          flex: 1;
          height: 20vh;
          justify-content: space-evenly;
          margin-right: 1rem;
          text-align: center;

          .mat-icon {
            position: absolute;
            top: -20px;
            left: 10px;
            font-size: 60px;
          }

          .main-number {
            font-size: 48px;
            font-weight: bold;
            margin-bottom: 10px;
          }

          .secondary-info {
            font-size: 24px;
          }
        }
      }

      .event-data {
        min-height: 40vh;
        font-size: 16px;

        .event-name {
          font-size: 32px;
          margin: 1rem 0 2vh 0;
          font-weight: bold;
        }

        .event-author {
          color: $dark-grey;
          margin: 0;
          padding: 0;
        }

        // .banner {
        //     background-color: $purple-grey;
        //     height: 20vh;
        //     width: 100%;
        //     border-radius: 10px 10px 0 0;
        //     background-position: center !important;
        //     background-size: cover !important;
        //     background-repeat: no-repeat !important;
        //   }
      }
    }

    .right-side {
      flex: 1;
      .event-join {
        margin-left: 1rem;
        min-height: 3rem;

        .mat-chip {
          background-color: $light-grey;
          color: $pink;
          letter-spacing: 2px;
        }

        .action-button-container {
          .btn {
            height: fit-content;
          }

          .btn {
            width: 100%;
            margin: 0 0 10px 0;
            font-weight: bold;
            font-size: 18px;
          }
        }
      }

      .member-list {
        margin-left: 1rem;
        max-height: 30vh;
        overflow: auto;

        .subheader {
          font-weight: 500;
        }
      }
    }
  }
}
