<section>
    <div class="card register-card">
        <div class="stepper-indicator">
            <div class="circle-step" [ngStyle]="{'background-color': currentStep === 1 ? '#2F4858' : '#dfe1ee'}">1</div>
            <div class="circle-step" [ngStyle]="{'background-color': currentStep === 2 ? '#2F4858' : '#dfe1ee'}">2</div>
            <div class="circle-step" [ngStyle]="{'background-color': currentStep === 3 ? '#2F4858' : '#dfe1ee'}">3</div>
        </div>
        <form *ngIf="currentStep === 1" [formGroup]="basicInfoForm">
            <div class="header">
                <p>Basic Information</p>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input type="text" formControlName="firstName" class="validate" name="first_name" required>
                    <label class="active">First Name</label>
                    <span class="helper-text" data-error="Field ini wajib di isi"></span>
                </div>
                <div class="input-field col s6">
                    <input type="text" formControlName="lastName" class="validate" name="first_name" required>
                    <label class="active">Last Name</label>
                    <span class="helper-text" data-error="Field ini wajib di isi"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <mat-form-field>
                        <input matInput formControlName="dateOfBirth" (click)="picker.open()" [matDatepicker]="picker">
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <label>Choose a date</label>
                </div>
                <div class="input-field col s6">
                    <mat-form-field appearance="legacy" class="select-input">
                        <mat-select formControlName="sex">
                            <mat-option>None</mat-option>
                            <mat-option value="male">Laki-Laki</mat-option>
                            <mat-option value="female">Perempuan</mat-option>
                            <mat-option value="other">Others</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <label>Jenis Kelamin</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="tel" class="validate" formControlName="phoneNum" name="first_name" required>
                    <label class="active">Nomer Telp</label>
                    <span class="helper-text" data-error="Field ini wajib di isi"></span>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input type="text" class="validate" formControlName="address" name="first_name" required>
                    <label class="active">Address</label>
                    <span class="helper-text" data-error="Field ini wajib di isi"></span>
                </div>
            </div>
        </form>

        <form *ngIf="currentStep === 2" [formGroup]="educationForm">
            <div class="header">
                <p>Education Information</p>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <mat-form-field>
                        <input matInput (click)="picker.open()" formControlName="dateOfArrival" [matDatepicker]="picker">
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <label>Tanggal Masuk Ke Turki</label>
                </div>
                <div class="input-field col s6">
                    <mat-form-field appearance="legacy" class="select-input">
                        <mat-select formControlName="educationLevel">
                            <mat-option>None</mat-option>
                            <mat-option value="high_school">High School</mat-option>
                            <mat-option value="undergraduate">Undergraduate</mat-option>
                            <mat-option value="master">Master</mat-option>
                            <mat-option value="phd">PhD</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <label>Level Pendidikan</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" formControlName="institution" class="validate" name="first_name" required>
                    <label class="active">Nama Institusi Pendidikan</label>
                    <span class="helper-text" data-error="Field ini wajib di isi"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" formControlName="faculty" class="validate" name="first_name" required>
                    <label class="active">Fakultas</label>
                    <span class="helper-text" data-error="Field ini wajib di isi"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <mat-form-field appearance="legacy" class="select-input">
                        <mat-select formControlName="turkishProvince">
                            <mat-option>None</mat-option>
                            <mat-option value="kayseri">Kayseri</mat-option>
                            <mat-option value="sivas">Kayseri 2</mat-option>
                            <mat-option value="kayseri_3">Kayseri 3</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <label>Provinsi</label>
                </div>
            </div>
        </form>

        <form *ngIf="currentStep === 3" [formGroup]="aboutMeForm">
            <div class="header">
                <p>Background Information</p>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <mat-form-field appearance="legacy" class="select-input">
                        <mat-select formControlName="indonesianProvince">
                            <mat-option>None</mat-option>
                            <mat-option value="jakarta">Jakarta</mat-option>
                            <mat-option value="surabaya">Surabaya</mat-option>
                            <mat-option value="tongseng">Tongseng</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <label>Provinsi Asal (Indonesia)</label>
                </div>
            </div>
            <div class="input-field col s12">
                <textarea formControlName="about" id="textarea1" class="materialize-textarea"></textarea>
                <label for="textarea1">About Me</label>
              </div>
        </form>

        <div class='button-container'>
            <button *ngIf="currentStep !== 1"  class="waves-effect waves-light btn" (click)="onPreviousStep()">Back</button>
            <button *ngIf="currentStep !== 3" [disabled]="isFormInvalid()" class="waves-effect waves-light btn" (click)="onNextStep()">Next</button>
            <button *ngIf="currentStep === 3" class="waves-effect waves-light btn" (click)="onRegister()">Done</button>
        </div>
    </div>
</section>