@import "../../../library";

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: $pink !important;
}

::ng-deep .mat-select-value {
  color: black;
}

.mat-select {
  margin-top: 23px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  .register-card {
    min-width: 40vw;
  }

  .input-field {
      margin-top: unset !important;
      margin-bottom: unset !important;
  }

  .stepper-indicator {
    display: flex;
    justify-content: center;
    align-items: center;

    .circle-step {
      border-radius: 50%;
      height: 25px;
      width: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      margin-right: 4rem;
      position: relative;
      transition: all 0.5s;

      &:not(:last-child):after {
        content: "";
        position: absolute;
        height: 1rem;
        width: 3rem;
        border-top: 2px solid $dark-grey;
        right: -50px;
        top: 50%;
      }
    }
  }

  .header {
    color: $dark-blue;
    font-size: 24px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 10px;
  }

  textarea {
    min-height: 15rem;
    margin: 0 auto;
  }

  .mat-form-field {
    margin: 0;
    padding: 0;
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    
    .btn {
      height: fit-content;
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        color: $dark-blue;
        cursor: pointer;

        &:hover {
          color: $pink;
        }
    }
  }
}
