<Section>
    <p class="header">My Profile</p>
    <div class="container">
        <div class='side'>
            <div class="card my-basic">
                <div id="avatar"></div>
                <p class="subheader">Muhammad Firghili</p>
                <p>email@emaildev.com</p>
                <p>+555 999 1234</p>
            </div>
            <div class="card my-about">
                <p class="subheader">About Me</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi, neque! Minima sequi beatae cumque numquam voluptatibus porro voluptas laudantium voluptatum earum nulla obcaecati culpa impedit consequatur eum, quis rem expedita?</p>
            </div>
        </div>
       <div class="side">
        <div class="card my-education">
            <p class="subheader">Education</p>
            <p class="label">Institusi:</p>
            <p>Abdullah Gul</p>
            <p class="label">Bolum:</p>
            <p>BA</p>
            <p class="label">Year:</p>
            <p>3</p>
        </div>
        <div class="card my-background">
            <p class="subheader">Background</p>
            <p class="label">Kota:</p>
            <p>Jakarta</p>
            <p class="label">Tahun Masuk:</p>
            <p>2018</p>
        </div>
       </div>
    </div>
</Section>
