<Section>
    <p class="header">My Profile</p>
    <app-spinner *ngIf="!(userProfile | async)"></app-spinner>
    <div class="container" *ngIf="(userProfile | async) as user">
        <div class='side'>
            <div class="card my-basic">
                <div id="avatar"></div>
                <p class="subheader">{{user[0]?.firstName}} {{user[0]?.lastName}}</p>
                <p>{{user[0]?.email}}</p>
                <p>{{user[0]?.phoneNum}}</p>
            </div>
            <div class="card my-about">
                <p class="subheader">About Me</p>
                <p>{{user[0]?.about}}</p>
            </div>
        </div>
       <div class="side">
        <div class="card my-education">
            <p class="subheader">Education</p>
            <p class="label">Institusi:</p>
            <p>{{user[0]?.institution}}</p>
            <p class="label">Bolum:</p>
            <p>{{user[0]?.faculty}}</p>
            <p class="label">Year:</p>
            <p>{{user[0]?.educationLevel}}</p>
        </div>
        <div class="card my-background">
            <p class="subheader">Background</p>
            <div class="info-box">
                <div>
                    <p class="label">Kota Asal:</p>
                    <p>{{user[0]?.indonesianProvince}}</p>
                </div>
                <div>
                    <p class="label">Tanggal Lahir:</p>
                    <p>{{user[0]?.dateOfBirth * 1000 | date}}</p>
                </div>
            </div>
            
            
            <p class="label">Tahun Masuk:</p>
            <p>{{user[0]?.dateOfArrival * 1000 | date}}</p>
        </div>
       </div>
    </div>
</Section>
