/* You can add global styles to this file, and also import other style files */

@import "./library";

html,
body {
  background-color: #dfe1ee;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-form-field:not(.select-input) .mat-form-field-underline {
  display: none;
}

.mat-form-field-appearance-fill .mat-form-field-underline::before {
  background-color: $dark-grey !important;
}

.mat-select-panel {
  background: #dcdeea !important;

  .mat-option {
    color: $dark-blue !important;
  }
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: grey;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: $pink;
}

.header {
  font-size: 36px;
  color: $dark-blue;
  font-weight: 500;
}

.subheader {
  font-size: 18px;
  color: $dark-blue;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background: #f4f4fc;
  box-shadow:  9px 9px 10px #c3c3ca,
             -9px -9px 10px #ffffff;
  border-radius: 20px;
  color: $dark-blue;
}

.btn {
  width: 112px;
  height: 32px;
  margin: 10px;
  border: none;
  color: white;
  cursor: pointer;
  transition: all 0.5s;
  font-size: 0.9em;
  

  border-radius: 10px;
  background: linear-gradient(145deg, #ff7878, #e66565);
  box-shadow: 11px 11px 22px #ee8383, -11px -11px 22px #ffffff;

  &:hover {
    filter: brightness(1.05);
  }

  &:focus {
    outline: none;
  }

  &:active {
    background: linear-gradient(145deg, #ff7878, #e66565);
    box-shadow: 5px 5px 10px #ee8383, -5px -5px 10px #ffffff;
    outline: none;
  }

  &:disabled {
    background: $dark-grey;
    color: white;
  }
}

.cancel-btn {
  width: 112px;
  height: 32px;
  margin: 10px auto;
  border-radius: 10px;
  border: 2px solid $pink;
  background-color: transparent;
  cursor: pointer;

  &:active {
    background-color: $pink;
    color: white;
  }
}

::-webkit-scrollbar {
  width: 10px;
  padding: 1px;
}

::-webkit-scrollbar-thumb {
  background: $dark-blue;
  border-radius: 20px;
}

.divider {
  height: 2px;
  border-top: 2px solid;
  color: $light-grey;
  margin: 1rem 1rem;
}

.datepicker-date-display {
  background-color: $pink !important;
  color: $light-grey;
}

.datepicker-cancel,
.datepicker-clear,
.datepicker-today,
.datepicker-done {
  color: $pink !important;
  padding: 0 1rem;
}

.dropdown-content li > a,
.dropdown-content li > span {
  color: $pink !important;
}

.basic-dialog-container .mat-dialog-container {
  background-color: $secondary-background;
  border-radius: 20px;
}

.empty-result {
  text-align: center;
  color: $purple-grey;
  width: 100%;
  height: 100%;

  .mat-icon {
    font-size: 90px;
    margin-right: 3rem;
  }
}
